

body {
    color: silver;
    background: rgb(175, 7, 7);
margin: 0px

}

header{
    border-bottom: solid 2px gold;
    padding: 20px;
    font-size: 32px;
    color: gold
}


section{
background: rgb(56,39, 21);
padding-bottom:80px;
padding-top: 80px;
display: flex;
justify-content: center;

}

.chamada-texto{
margin-right: 5%;


}